@{
    ViewData["Title"] = "Cryptid Zoo Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h1 class="fontDesignMainHeading">Welcome to the Cryptid Zoo</h1>

    <section>
        <h2 class="secondaryHeading">What is Cryptozoology</h2>
        <p class="paragraphsHome">
            Cryptozoology is considered both a pseudoscience and a subculture. It is
            the study of animals that some believe exist but are not considered
            plausible in mainstream science.
        </p>
        <h2 class="secondaryHeading">What is a Cryptid</h2>
        <p class="paragraphsHome" >
            Cryptids are the animals studied by cryptozoologists. Famous examples
            are the Yeti, Bigfoot and the Chupacabra
        </p>
    </section>
</body>

</html>
