@model IEnumerable<Comments>

<h2 class="viewHeading">Feel free to leave comments of sightings or fun facts!</h2>
<div style="display: block">
    <a class ="link-success nounderline" href="/Comments/InsertComment/">Add a New Comment</a>
</div>
<table class="table table-dark table-striped">
    <tr>
        <th>Display Name</th>
        <th>Comment</th>
    </tr>

    @foreach (var comment in @Model)
    {

        <tr>
            <td><a class="nounderline" href=/Comments/ViewComment/@comment.CommentId>@comment.DisplayName</a></td>
            <td>@comment.Comment</td>
        </tr>
    }

</table>
