@model Comments

<h2>Update @Model.DisplayName</h2>

@using (Html.BeginForm("UpdateCommentToDatabase", "Comments", "Post"))
{
    <input asp-for="CommentId" type="hidden" value="@Model.CommentId" />

    <label asp-for="DisplayName" class="control-label">Name</label>
    <input type="text" name="DisplayName" class="form-control" value="@Model.DisplayName" />

    <label asp-for="Comment" class="control-label">Comment</label>    
    <input type="text" name="Comment" class="form-control" value="@Model.Comment" />

    <input type="submit" value="Update Comment" class="btn btn-success" />
}