@model Comments

<h3 class="viewHeading" >@Model.DisplayName</h3>

<table class="table table-dark table-striped">
    <tr>
        <th>Display Name</th>
        <th>Comments</th>
      

    </tr>
    <tr>
        <td>@Model.DisplayName</td>
        <td>@Model.Comment</td>
        
    </tr>
</table>
<div style="display: block">
    <a href="/Comments/UpdateComments/@Model.CommentId"class="link-success">Update this Comment</a>
</div>

<div style="display: block">
    
    @using (Html.BeginForm("DeleteComment", "Comments", "Post"))
    {
        <input type="hidden" asp-for="CommentId" value="@Model.CommentId" />
       
        <input class="alert alert-danger" role="alert" type="submit" onclick="return confirm('Are you sure?')" value="Delete this Comment" />
    }
    
</div>